# Python bytecode
*.pyc

# Logs
logs/
log_tensorboard/
*.log
nohup.out

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Others
data/
run/
saved/
results/
ckpts/
config/api-config.json
test*
!macrec/*/test*

wandb/
trlx/
